DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://user:password@host/dbname?sslmode=require"
BLOB_READ_WRITE_TOKEN=""
OWNER_USERNAME="danvol"
OWNER_PASSWORD=""
ADMIN_SESSION_SECRET=""
